body{
  background: black;
}

div#timerTwo{
  padding-left: 25%;
  padding-right: 35%;
  width: 30%;
  padding-top: 5%;
}

header{
  padding: 2%;
  font-size: 200%;
  font-family: serif;
  text-align: center;
}

span{
  user-select: none;
  -moz-user-select: none;
  color: white;
}

div.timerSix{
  float: left;
  width: 26%;
  padding-left: 6%;
  padding-right: 12%;
  padding-top: 5%;
}

button#resetButtonTwo,button.buttonsTimerSix{
  width: 80%;
  padding-top: 20%;
  padding-bottom: 20%;
  border-radius: 60%;
  color: green;
}


span{
  font-family: sans-serif;
  font-size: 1000%;
}

section{
  float: left;
  padding: 2%;
  width: 46%;
}
